* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250,250,250);
  color: rgb(40,40,40);
  font-family: 'Inter', sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.red {
  color: #F55A5A;
}

/* header */

header {
  background: #F55A5A;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  color: #fff;
  font-size: 14px;
}

/* card */

.card {
  display: flex;
  width: 471px;
  height: 168px;
  align-items: center;
  font-size: 10.24px;
}

.card-title {
  font-size: 25px;
}

.card img {
  width: 126px;
  height: 100%;
  object-fit: cover;
  margin-right: 19px;
  border-radius: 5px;
}

.card-location {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.location-text {
  letter-spacing: 0.17em;
}

.card-container hr {
  border: #F55A5A solid 0.5px;
}

.card:last-child {
  border-bottom: hotpink solid 0.5px;
}

.map-text-gray a{
  color: #918E9B;
  text-decoration-line: underline;
}
